* {
  box-sizing: border-box;
}

body {
  background-image: url(assets/images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto";
  height: 100vh;
}

.wheel {
  height: 500px;
}

body {
  background-color: black;
  color: white;
}
